html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #f8f8f8;
  color: #303438;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}
svg {
  fill: currentColor;
}

a {
  color: #1F0C7B;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

h1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 2.5em;
  font-family: "Merriweather",serif;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.1em;
  }
}

.nav-secondary {
  width: 100%;
  display: block;
  border-bottom: 1px solid #c9c9c9;
}
  .nav-secondary > a {
    display: inline-block;
    font-weight: 700;
    padding: 1em;
    margin: 1em;
  }

  .nav-secondary > a:first-child {
    border: 2px solid;
    border-radius: 0.7em;;
  }

  .nav-secondary > a > i {
    margin-right: 0.5em;
  }

.form-results {
  margin: 1em;
  margin-bottom: 4em;
}
  .form-results h2 {
    margin-bottom: 0.2em;
  }
  .form-results h3 {
    margin-top: 0;
  }
  .form-results:after {
    content: '';
    display: block;
    clear: both;
  }

#forms-list > li {
  list-style-type: none;
  background-color: #DCE4E7;
  margin: 5px;
  float: left;
  width: 31%;
}
#forms-list > li span:first-child {
  display: block;
  background-color: #efefef;
  width: 100%;
  height: 8em;
  line-height: 8em;
  text-align: center;
  font-size: 2em;
  font-family: "Merriweather",serif;
  color: #303438;
}
#forms-list > li span + span {
  padding: 0.7em;
  display: block;
}
  #forms-list > li > a:hover {
    text-decoration: none;
    outline: -webkit-focus-ring-color auto 3px;
  }
  #forms-list > li > a:hover > span + span {
    text-decoration: underline;
  }
#forms-list > li i.fa {
  font-size: 1.7em;
}
@media screen and (max-width: 600px) {
	#forms-list > li {
		float: none;
		display: block;
    margin-bottom: 10px;
		width: 100%;
	}
	#forms-list {
		margin-right: 2em;
	}
}

#url-error, #file-error, #form-error {
  color: #C62828;
}
#file-error {
  margin-top: 0.4em;
  font-size: 0.8em;
}
input[type="text"].error {
  border-color: #C62828;
}
input[type="file"] + label.error {
  border: 3px solid #c62828;
  background-color: #EF9A9A;
  color: #303438;
}
#forms-list > li.error {
  border: 3px solid #c62828;
  margin: 2px;
}

footer {
  text-align: center;
  margin-bottom: 2em;
  font-size: 0.8em;
}

.screen-reader {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
